<script src="https://kit.fontawesome.com/4293939877.js" crossorigin="anonymous"></script>
<footer class="footer-dark">

    
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-2 item">
                    <h3>Important links</h3>
                    <ul>
                        <li><a href="#" class="links">comparison</a></li>
                        <li><a href="#" class="links">newly lauched</a></li>
                        <li><a href="#" class="links">about Us</a></li>
                    </ul>
                </div>
                
                <div class="col-md-5 item text col-sm-6">
                    <h2>  <strong> Trackin Zone </strong> </h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col-md-5 suggestions-form item">
                    <h3 class="text-center mb-5">Drop Some Suggestions</h3>
                    <form  action="/form/suggestions" method="POST">
     
                       <div class="row">
                           <div class="col-4 col-sm-4 mr-5">
                             <label for="Name">Name:</label>  
                             <input type="text" id="Name" name="Name" class="form-control">
                           </div>
                           <div class="col-4 col-sm-4">
                               <label for="email_id">Email</label>
                               <input type="email" id="email_id" name="email_id" class="form-control">
                           </div>
                           <div class="col-8">
                               <label for="suggestion">Please write Here:</label>
                               <textarea name="suggestion" id="suggestion"  cols="5" rows="2"  class="form-control"></textarea>
                           </div>
                       </div>
                    <button class="btn btn-primary mt-3">Submit</button>
                    </form>
                 </div>
                
            </div>
            
            
            <div class="col item social mt-5">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copyright">Trakin Zone © 2021</p>
        </div>
    
    </footer>

    <link rel="stylesheet" href="/css/footerstyle.css">