<%layout("/layouts/boilerplate")%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css"
    integrity="sha512-eeBbzvdY28BPYqEsAv4GU/Mv48zr7l0cI6yhWyqhgRoNG3sr+Q2Fr6751bA04Cw8SGUawtVZlugHm5H1GOU/TQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/css/aboutStyle.css">




<img src="about_background.svg" alt="" id="background_image">

<section class="main"> 


  <div class="intro">
    <p class="main-intro">
      We Are a team of students interested in creating some user centric digital experencies.
    </p>
    <p class="second-intro">
      currently studying in colleges at different parts of india
    </p>
    <button>Contact us</button>
     
  </div>

  <div class="image">
     <img src="about.jpg" alt="">
  </div>





</section>

<section class="idea">
  <div class="idea-image">
    <img src="idea.svg" alt="">
    <p>
      Idea
    </p>

  </div>
  <div class="idea-intro">
    
    <div class="each-container">
      <div class="each">
        <div class="each-icon">

          <img src="ui_ux1.svg" alt="">
          <span>Usability</span>
          <p> 
            We believe in a <span style="color:blue;">user centered</span>  approach to deliver content in a nice consumable way so to get we made this website very   
          </p>
    
    
        </div>
    
    
    
      </div> <div class="each">
        <div class="each-icon">
          <img src="
          review_svg.svg" alt="">
          <span>Precisive review</span>
          <p>
            we go through <span style="color: blue;">extensive</span>  review of each and every gadget launching out there,
and give our viewers a very precise review
          </p>
    
    
        </div>
    
    
    
      </div> <div class="each">
        <div class="each-icon">
          <img src="features-illu.svg" alt="">
          <span>Top Features</span>
          <p>
             <span style="color:blue;">phone finder</span> ,can find you a phone perfect to your needs,
             <span style="color:blue;">Tech news</span>  keeps you ahead in world of tech
             and  <span style="color: blue;">Phone comparison</span>   lets you decide which phone to buy
          </p>
    
    
        </div>
    
    
    
      </div>
    </div>
   


  </div>











</section>


<section class="our-team">
  <h1>Team</h1>

  <div class="inner-team">
    <div class="each-member">
      <img src="photu 1.jpg" alt="">
      <p>Atishay Jain</p>
      <p>
        Developer,Writer
      </p>
      <div>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href=""><i class="far fa-envelope"></i></a>
       </div>
    </div> 
    <div class="each-member">
        <img src="photu 2.jpg" alt="">
        <p>
          Rishi Agrawal
        </p>
        <p>
          Writer,electronics
        </p>
        <div>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="far fa-envelope"></i></a>
         </div>
    </div> 
    <div class="each-member">
         <img src="photu 3.jpg" alt="">
         <p>
           Akshat Jain
         </p>
         <p>
           Writer,social media
         </p>
         <div>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="far fa-envelope"></i></a>
         </div>
    </div> 
    <div class="each-member">
         <img src="photu 4.jpg" alt="">
         <p>
           Aman Porwal
         </p>
         <p>
           Developer
         </p>
         <div>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="far fa-envelope"></i></a>
         </div>
    </div> 
    <div class="each-member">
         <img src="photu 1.jpg" alt="">
         <p>
           Kewal Pandey
         </p>
         <p>
           Developer,IT 
         </p>
         <div>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="far fa-envelope"></i></a>
         </div>
    </div>
  
  </div>

 
    
    




</section>
<section class="contact-us">

  <div class="inner-contact">
    <div class="image-div">
      <h1>Get In Touch With Us</h1>
   <img src="contact_us.svg" alt="">
    </div>
   
   <form action="" method="post" class="contact-form">
     <label for="name">Name</label>
     <input type="text" name="name" id="name">  
    <label for="email">Email</label>
      <input type="email" name="e_mail" id="email">
      <label for="query">Query</label> 
     <textarea name="query" id="query" cols="30" rows="5"></textarea>
     <button>send <img src="send_logo.svg" alt=""></button>


   </form>
   








  </div>








</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"
integrity="sha512-sAHYBRXSgMOV2axInO6rUzuKKM5SkItFLlLHQ8YjRD+FBwowtATOs4njP9oim3/MzyAGrB52SLDjpAOLcOT9TA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/about.js"></script>