<%layout("/layouts/boilerplate")%>

<link rel="stylesheet" href="/css/newCredentials.css">


<section class="whole">
    <div>
    <div class="illu">

        <img src="/reset_password.svg" alt="">

    </div>

  <form action="/" method="POST" class="credentials-form">
    <div>
        <label for="password">New password</label>
    <input type="password" id="password" name="password">
    </div>
    
    <button>Update</button>


</form>
</div>
</section>


