<%layout("/layouts/boilerplate")%>





<style>
  .social-media{
    z-index: -1;
  }
</style>
<section class="container" style="margin-top: 100px">


  <!-- <h1 style="margin-left: 40%;font-size: xx-large;">Addition of New Mobile</h1> -->
<form  action="/phone" method="post" style="z-index: 3;">
  <label>Mobile Name</label>
  <input type="text" name="name"><br>

  <label>Price</label>
  <input type="text" name="price"><br>

  <hr>

  <h4>Main camera details</h4>
  <label>no of Camera</label>
  <input type="text" name="noOfCamerasMain"><br>

  <label>Pixels</label>
  <textarea name="pixelsMain" rows="4" cols="50"></textarea><br>

  <hr>

  <h4>Front camera details</h4>
  <label>no of Camera</label>
  <input type="text" name="noOfCamerasFront"><br>

  <label>Pixels</label>
  <textarea name="pixelsFront" rows="4" cols="50"></textarea><br>

  <hr>

  <h4>Display Feature</h4>

  <label>DisplaySize</label>
  <input type="text" name="DisplaySize"><br>

  <label>DisplayResolution</label>
  <input type="text" name="DisplayResolution"><br>

  <label>DisplayGPU</label>
  <input type="text" name="DisplayGPU"><br>

  <label>DisplayType</label>
  <input type="text" name="DisplayType"><br>

  <label>DisplayOther</label>
  <input type="text" name='DisplayOther'><br>

  <hr>
  <h4>Processor Feature</h4>

  <label>operatingSystem</label>
  <input type="text" name="operatingSystem"><br>

  <label>ProcessorCategory</label>
  <input type="text" name="ProcessorCategory"><br>

  <label>Core</label>
  <input type="text" name="Core"><br>

  <label>clockSpeed</label>
  <input type="text" name="clockSpeed"><br>

  <hr>
  <h4>Memory Features</h4>

  <label>internalStorage</label>
  <input type="text" name="internalStorage"><br>

  <label>ram</label>
  <input type="text" name="ram"><br>

  <label>expandableStorage</label>
  <input type="text" name="expandableStorage"><br>

  <hr>
  <h4>Network Features</h4>

  <label>networkCategory</label>
  <input type="text" name="networkCategory"><br>

  <label>bluetoothVersion</label>
  <input type="text" name="bluetoothVersion"><br>

  <label>nfc</label>
  <input type="text" name="nfc"><br>

  <label>infrared</label>
  <input type="text" name="infrared"><br>

  <label>audioJack</label>
  <input type="text" name="audioJack"><br>

  <hr>

  <h4>Dimensions </h4>

  <label>width</label>
  <input type="text" name="width"><br>

  <label>height</label>
  <input type="text" name="height"><br>

  <label>weight</label>
  <input type="text" name="weight"><br>

  <hr>

  <h4>Other Feature</h4>

  <label>BatteryCapacity</label>
  <input type="text" name="BatteryCapacity"><br>

  <label>warrantyPeriod</label>
  <input type="text" name="warrantyPeriod"><br>

  <label>userInterface</label>
  <input type="text" name="userInterface"><br>

  <label>box</label>
  <input type="text" name="box"><br>

  <label>colorVariants</label>
  <textarea name="colorVariants" rows="8" cols="80"></textarea><br>

  <label>bodyType</label>
  <input type="text" name="bodyType"><br>

  <label>review</label>
  <input type="text" name="review"><br>

  <label>ourOpinion</label>
  <input type="text" name="ourOpinion"><br>

  <label>Brand</label>
  <input type="text" name="brand"><br>

  <label>image</label>
  <input type="text" name="image"><br>

  <label>LaunchDate</label>
  <input type="text" name="launchDate"><br>

  <label>Sound</label>
  <input type="text" name="sound"><br>

  <label>simType</label>
  <input type="text" name="simType"><br>




  <input type="submit" class="btn btn-primary" >
</form>

</section>