<%layout("/layouts/boilerplate")%>

    <link rel="stylesheet" href="/css/tracker.css">

    <section class="hero-tracker">
        <div class="left">
            <div class="left-inner">


                <p class="hero-para">
                    Buying Made Too easy With <span style="color: blue;"> Price Tracker</span>
                </p>
                <p class="co-para">
                    Just add product To our eyes and we will watch It's price and offers for you,
                    Start ruling over budget
                </p>
                <button>
                    Start tracking

                </button>


            </div>

        </div>
        <div class="right">
           <div class="square">
              <p>
                  Search for the phones
              </p>

           </div>
            <div class="square">


           </div>



        </div>







    </section>